/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.personal-info-container {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header */
header h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Login Form */
.login-form {
    margin: 20px 0;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.login-form label, #buy-car-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input, .login-form textarea, .login-form select, #buy-car-form input, .personal-info-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #45a049;
}

.signup-section {
    text-align: center;
    margin-top: 20px;
}

.signup-section p {
    margin: 10px 0;
    font-size: 1rem;
}

.signup-section a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.signup-section a:hover {
    color: #388E3C;
}

.dialog-row {
    background: #ff000075;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
}

.return-to-login-link {
    text-align: center;
}

.return-to-login-link a {
    color: #4caf51;
}

.role-text {
    text-transform: capitalize;
}

.welcome-header {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dashboard-header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

.dashboard-main-section {
    overflow: scroll;
    margin-bottom: 3em;
    padding: 1em 5em 3em 5em;
}

.car-icon-list {
    font-size: 3em;
}

.grid-container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
 }

 .car-list .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: auto;
   text-align: center;
   font-family: arial;
   width:100%;
   height: 100%;
 }

 .car-list .price {
   color: grey;
   font-size: 22px;
 }

 .car-list .card button {
   border: none;
   outline: 0;
   padding: 12px;
   color: white;
   background-color: #333333;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   margin-top: 1em;
 }

 .car-list .card button:hover {
   opacity: 0.7;
   background: #4CAF50;
 }

 .car-list h2 {
    color: #4caf51;
    font-size: 20px;
 }

 #book-test-drive {
    margin-top: 0;
    background: #4caf51;
 }

 .car-info {
    height: 58px;
 }

 .car-info-list {
    margin-left: 1.2em;
 }

 #test-drive-date {
    width: 100%;
 }

 .book-test-drive-button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4caf51;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 1em;
 }

 .book-test-drive-button:hover {
    opacity: 0.7;
    background: #4CAF50;
  }

  .car-details-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .car-details-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .car-details-table tr:nth-child(even) {
    background-color: #4caf5185;
  }

  .test-drive-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .car-model-span {
    color: #4caf51;
  }

  .book-test-drive-header {
    margin-bottom: 1em;
  }

  .bookings {
    padding: 1em;
  }

  .created-by {
    text-align: center;
    font-size: 12px;
    color: #3333337a;
  }



  .filters-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 1em;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .search-bar {
      flex: 1;
      margin-right: 1em;
  }

  .search-bar input {
      width: 70%;
      padding: 0.5em;
      margin-right: 0.5em;
      border: 1px solid #33333330;
      border-radius: 3px;
  }

  .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
  }

  .filters select {
      margin-right: 0.5em;
      border: 1px solid #33333330;
      border-radius: 3px;
  }

  .filters label {
    margin-right: 0.5em;
  }

  .personal-info-text {
    margin-bottom: 1em;
  }

  .personal-info-input-text {
    color: #00000061;
  }

  .capital-text {
    text-transform: capitalize;
  }

  .filters-container button {
    height: 100%;
    padding: 6px;
    background: #333333;
    border-radius: 3px;
    color: white;
  }