<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Car Dealership - Dashboard</title>
</head>
<body>
<header class="dashboard-header">
    <h1 class="welcome-header">Welcome, <span th:text="${currentUsername}">User</span>!</h1>
    <p><i class="fa fa-fw fa-user"></i> You are currently log in as a: <span class="role-text" th:text="${role}">Role</span></p>
</header>
<nav>
    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/customer/dashboard/cars">Cars</a>
    <a href="/">Search</a>
    <a href="/logout">Logout</a>
</nav>
<div class="dashboard-main-section">
    <h1>All the cars</h1>
    <p th:if="${#lists.isEmpty(cars)}">No cars available in your list.</p>
    <div class="grid-container car-list">
        <div class="card" th:each="car : ${cars}">
            <div class="card">
                <p class="car-icon-list"><i class="fa fa-fw fa-car"></i></p>
                <h2 th:text="${car.brand} + ' ' + ${car.model}"></h2>
                <p class="price" th:text="'$' + ${car.price}"></p>
                <p th:text="'Dealership: ' + ${car.dealership.name}"></p>
                <p th:text="'Seats: ' + ${car.seats}"></p>
                <p th:text="'Info: ' + ${car.additionalInfo}" class="car-info"></p>
                <p><button id="buy-car" th:value="${car.id}" onclick="buyCar(event)">Buy this car</button></p>
                <p><button id="book-test-drive" th:value="${car.id}" onclick="testDrive(event)">Book a test drive</button></p>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>UOM 2024 - MSC APPLIED INFORMATICS</p>
</footer>
</body>
</html>
<script>
    function buyCar(event) {
      const carId = $(event.target).val();
      window.location.href = `/customer/dashboard/buy-car?carId=${carId}`;
    }

    function testDrive(event) {
      const carId = $(event.target).val();
      window.location.href = `/customer/dashboard/test-drive?carId=${carId}`;
    }
</script>

