<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Car Dealership - Dashboard</title>
</head>
<body>
<header class="dashboard-header">
    <h1 class="welcome-header">Welcome, <span th:text="${currentUsername}">User</span>!</h1>
    <p><i class="fa fa-fw fa-user"></i> You are currently log in as a: <span class="role-text" th:text="${role}">Role</span></p>
</header>
<nav>
    <a href="/dealership/dashboard"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/dealership/dashboard/add-car">Add a car</a>
    <a href="/dealership/dashboard/cars">My Cars</a>
    <a href="/logout">Logout</a>
</nav>
<div class="dashboard-main-section">
    <div class="personal-info-container">
        <h2><i class="fa fa-fw fa-user"></i> Personal Information</h2>
        <p class="personal-info-text">Here you can see your personal details</p>
        <input class="personal-info-input-text" type="text" placeholder="Name" name="name" disabled th:value="${dealershipEntity.name}">
        <input class="personal-info-input-text" type="text" placeholder="Tax Number" name="tax-number" disabled th:value="${dealershipEntity.taxNumber}">
        <input class="personal-info-input-text" type="text" placeholder="Username" name="username" disabled th:value="${dealershipEntity.user.username}">
        <input class="personal-info-input-text" type="text" placeholder="Email" name="email" disabled th:value="${dealershipEntity.user.email}">
        <input class="personal-info-input-text capital-text" type="text" placeholder="Role" name="role" disabled th:value="${dealershipEntity.user.role}">
    </div>
</div>
<footer>
    <p>UOM 2024 - MSC APPLIED INFORMATICS</p>
</footer>
</body>
</html>