<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Car Dealership - Dashboard</title>
</head>
<body>
<header class="dashboard-header">
    <h1 class="welcome-header">Welcome, <span th:text="${currentUsername}">User</span>!</h1>
    <p><i class="fa fa-fw fa-user"></i> You are currently log in as a: <span class="role-text" th:text="${role}">Role</span></p>
</header>
<nav>
    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/customer/dashboard/cars">Cars</a>
    <a href="/customer/dashboard/test-drive-bookings">Bookings</a>
    <a href="/customer/dashboard/purchases">Purchases</a>
    <a href="/logout">Logout</a>
</nav>
<div class="dashboard-main-section">
    <h2 class="book-test-drive-header">Buy the <span th:text="${car.brand} + ' ' + ${car.model}" class="car-model-span"></span></h2>
    <div class="test-drive-grid-container">
        <div>
            <table class="car-details-table">
                <tr>
                    <td>Brand</td>
                    <td th:text="${car.brand}"></td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td th:text="${car.model}"></td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td th:text="${car.fuelType}"></td>
                </tr>
                <tr>
                    <td>Engine</td>
                    <td th:text="${car.engine}"></td>
                </tr>
                <tr>
                    <td>Seats</td>
                    <td th:text="${car.seats}"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td th:text="'$' + ${car.price}"></td>
                </tr>
                <tr>
                    <td>Information</td>
                    <td th:text="${car.additionalInfo}"></td>
                </tr>
            </table>
        </div>
        <div>
            <form id="buy-car-form">
                <input type="text" hidden="hidden" id="car-id" name="car-id" th:value="${car?.id}">
                <input type="text" hidden="hidden" id="customer-id" name="customer-id" th:value="${customerId}">

                <label for="preparation-fee">Preparation fee: </label>
                <input type="text" disabled id="preparation-fee" name="preparation-fee" value="$500">

                <label for="car-total-cost">Total price: </label>
                <input type="text" id="car-total-cost" disabled name="car-total-cost" th:value="'$' + ${car.price + 500}">

                <button class="book-test-drive-button" type="submit">BUY THIS CAR</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <p>UOM 2024 - MSC APPLIED INFORMATICS</p>
</footer>
</body>
</html>

<script>
    $(document).ready(function() {
         $('#buy-car-form').submit(function(event) {
             event.preventDefault();
             const totalCost = $('#car-total-cost').val().replace("$", "");
             const carId = $('#car-id').val();
             const customerId = $('#customer-id').val();
             const today = new Date();
             const todayFormatted = today.toISOString().split('T')[0];

             var formData = {
                 amount: totalCost,
                 purchaseDate: todayFormatted
             };

             $.ajax({
                 url: '/customer/dashboard/cars/purchase?carId=' + carId + '&customerId=' + customerId,
                 type: 'POST',
                 contentType: 'application/json',
                 data: JSON.stringify(formData),
                 success: function(response) {
                     window.location.href = '/customer/dashboard/purchases';
                     alert(`A purchase has be made!`);
                 },
                 error: function(xhr, status, error) {
                     window.location.href = '/customer/dashboard/cars';
                     alert('An error occurred. Please try again.');
                 }
             });
         });
     });
</script>
