<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Car Dealership - Dashboard</title>
</head>
<body>
<header class="dashboard-header">
    <h1 class="welcome-header">Welcome, <span th:text="${currentUsername}">User</span>!</h1>
    <p><i class="fa fa-fw fa-user"></i> You are currently log in as a: <span class="role-text" th:text="${role}">Role</span></p>
</header>
<nav>
    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/customer/dashboard/cars">Cars</a>
    <a href="/customer/dashboard/cars">Bookings</a>
    <a href="/">Search</a>
    <a href="/logout">Logout</a>
</nav>
<div class="dashboard-main-section">
    <h2 th:text="'Book the ' + ${car.brand} + ' ' + ${car.model} + ' for a test drive'"></h2>
    <p>Car information: </p>
    <div class="grid-container">
        <ul class="car-info-list">
            <li th:text="'Brand: ' + ${car.brand}"></li>
            <li th:text="'Model: ' + ${car.model}"></li>
            <li th:text="'Fuel Type: ' + ${car.fuelType}"></li>
            <li th:text="'Engine: ' + ${car.engine}"></li>
            <li th:text="'Seats: ' + ${car.seats}"></li>
            <li th:text="'Price: ' + ${car.price}"></li>
            <li th:text="'Information: ' + ${car.additionalInfo}"></li>
        </ul>
        <p>HERE WILL BE THE DATE PICKER & THE BOOK BUTTON</p>
    </div>
</div>
<footer>
    <p>UOM 2024 - MSC APPLIED INFORMATICS</p>
</footer>
</body>
</html>
