<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/script.js}"></script>
    <title>Car Dealership - Dashboard</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div th:replace="~{nav-customer :: nav-customer}"></div>
<div class="dashboard-main-section">
    <div class="personal-info-container">
        <h2><i class="fa fa-fw fa-user"></i> Personal Information</h2>
        <p class="personal-info-text">Here you can see your personal details</p>
        <input class="personal-info-input-text" type="text" placeholder="First Name" name="first-name" disabled th:value="${customerEntity.firstName}">
        <input class="personal-info-input-text" type="text" placeholder="Last Name" name="last-name" disabled th:value="${customerEntity.lastName}">
        <input class="personal-info-input-text" type="text" placeholder="Tax Number" name="tax-number" disabled th:value="${customerEntity.taxNumber}">
        <input class="personal-info-input-text" type="text" placeholder="Username" name="username" disabled th:value="${customerEntity.user.username}">
        <input class="personal-info-input-text" type="text" placeholder="Email" name="email" disabled th:value="${customerEntity.user.email}">
        <input class="personal-info-input-text capital-text" type="text" placeholder="Role" name="role" disabled th:value="${customerEntity.user.role}">
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>